<p>
Nesta aula vimos como funcionam os relatórios de Comportamento. O foco destes relatórios é mostrar informações ações dos usuários dentro do seu site, como quais páginas foram visualizadas, em quais páginas abandonaram seu site, etc.



Vimos também
Um usuário pode gerar várias sessões. Cada sessão pode gerar várias visualizações de página.

O relatório de conteúdo diz qual página foi mais visualizada.

As páginas de destino são as primeiras páginas vistas quando seu usuário acessa o seu site. Assim você entende onde os usuários começam a navegar no seu site.

Página de saída representam em quais páginas o usuário abandona o seu site.

Otimizar  páginas com alta taxas de saída e rejeição são um ótimo caminho para começar a melhorar o seu site.

</p>